.main{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 100px;
  
}
.main-weather{
  min-width: 597px;
    min-height: 476px;
   margin-top: 25px;
    background-color: rgba(251, 251, 251, 0.555);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-image: url(../../../src/assets/img/backgroundImage.svg);
    background-size: cover;
  
  
  button{
    width: 100px;
     border: none;
     border-radius: 10px;
     height: 20px;
     margin: 10px 0px;
     background-color: whitesmoke;
     &:hover {
       opacity: 0.8;
      
     }
  }

  }

  
  .other-weather{
    width: 297px;
    height: 476px;
    margin-top: 25px;
    background-color: rgba(251, 251, 251, 0);
    
  }
  


.response{
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  h2{
    font-size: 40px;
  margin-top: 25px;
  
  }
}