.main{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 100px;
  
}
.main-container{
  width: 100%;
  max-width: 987px;
  min-height: 526px;
  background-image: url(../../../src/assets/img/backgroundImage.svg);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  .main-weather{
    width: 597px;
    height: 476px;
   margin-top: 25px;
    background-color: rgba(251, 251, 251, 0.555);
    border-radius: 20px;
  }
  .other-weather{
    width: 297px;
    height: 476px;
    margin-top: 25px;
    background-color: rgba(251, 251, 251, 0);
    
  }
}

