.small-container{
  background-color: rgba(251, 251, 251, 0.22);
  width: 270px;
  height: 145px;
  margin-bottom: 10px;
  border-radius: 50px;
  .date{
   min-width: 136px;
    min-height:35px;
   padding: 15px ; 
   justify-content: center;
   display: flex;
   align-items: center;
   text-align: center;
   h1{
     margin: 0px;
     color: aliceblue;
   }
  }
  .temperature{
    max-width: 145px;
    height:45px;
    border-radius: 30px;
    background-color: rgba(6, 80, 240, 0.5);
    margin-left: 10px;
    font-size:25px;
    color: aliceblue;
    margin-top: 5px;
    padding-top: 5px;

  }
 
}