.small-container {
  background-color: rgba(251, 251, 251, 0.22);
  min-width: 270px;
  height: 145px;
  margin-bottom: 10px;
  border-radius: 50px;
}

.date {
  min-width: 136px;
  min-height: 35px;
  padding: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.date h1 {
  margin: 0px;
  color: aliceblue;
}

.temperature {
  max-width: 145px;
  height: 45px;
  border-radius: 30px;
  background-color: rgba(6, 80, 240, 0.5);
 justify-content: center;
 display: flex;
  font-size: 25px;
  color: aliceblue;
  margin-left: 5px;
  padding-top: 5px;
}

@media screen and (max-width: 800px) {
  .small-container {
    background-color: rgba(251, 251, 251, 0.22);
    min-width: auto;
    margin-bottom: 10px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .date {
    padding: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .date h1 {
    font-size: 20px;
    margin: 0px;
    color: aliceblue;
  }

  .temperature {
    min-width: 100px;
    max-height: 45px;
    border-radius: 30px;
    background-color: rgba(6, 80, 240, 0.5);
   
    font-size: 20px;
    color: aliceblue;
    margin: 0;
    padding-top: 10px;
  }
}